<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="n_ws_pas_interfaceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.83:8011/pas_ws/n_ws_pas_interface"
                binding="basicHttpBinding" bindingConfiguration="n_ws_pas_interfaceSoapBinding"
                contract="PASService.n_ws_pas_interface" name="n_ws_pas_interface" />
        </client>
    </system.serviceModel>
</configuration>