<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="atlas" type="Atlas.Configuration.XmlConfiguration, Atlas" />
    <section name="uploadFileSettings" type="Pickles.Infrastructure.UploadJob.UploadFileConfiguration, Pickles.Infrastructure.UploadJob" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="imageuploaderEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:pickles-scheduler-test.database.windows.net,1433;initial catalog=imageuploader;user id=db_account;password=Pickles123#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="XmlConfiguredInstance" />
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="1" />
    <add key="quartz.threadPool.threadPriority" value="Normal" />
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />
    <add key="quartz.plugin.xml.fileNames" value="~/quartzJobsAndTriggers.xml" />
  </quartz>
  <atlas>
    <host name="Pickles.Infrastructure.Scheduler" displayName="Pickles.Infrastructure.Scheduler" description="Pickles.Infrastructure.Scheduler" allowMultipleInstances="true">
      <runtime accounttype="networkservice" startup="automatic" />
    </host>
  </atlas>
  <uploadFileSettings numberOfThreads="1" uploadSource="photobooth">
    <setup>
      <add id="0" filePath="E:\Temp1" machineName="N2Q53M72" fileExtension="jpg" uploadTimeoutMinutes="10" imagesPerCall="45" archiveFolder="E:\Temp1Archive" uploadEndpoint="http://localhost:8000/api/update" getEndpoint="https://picklestst.azure-api.net/api/v1.0/imageretrieval/getImagesandrestore" subscriptionId="def90d38e7f34e04a0471aec84130b9c"  />

      <!--<add id="0" filePath="\\10.13.70.50\picklestesting" machineName="GEEB-DOMESVR-01" userName="GEEB-DOMESVR-01\PIMS_SA" password="XSb@PXCzw92m" imagesPerCall="3" fileExtension="jpg" uploadTimeoutMinutes="10" uploadEndpoint="https://picklestst.azure-api.net/api/v1.0/imagemanagement/update" getEndpoint="https://picklestst.azure-api.net/api/v1.0/imageretrieval/getImagesandrestore" subscriptionId="def90d38e7f34e04a0471aec84130b9c" />-->
      <!--<add id="1" filePath="C:\Temp2" machineName="apple2" machineIP="ip" userName="username" password="password" fileExtension="txt" uploadTimeoutMinutes="3" uploadEndpoint="https://picklestst.azure-api.net/api/v1.0/imagemanagement/update" getEndpoint="https://picklestst.azure-api.net/api/v1.0/imageretrieval/getImagesandrestore" subscriptionId="def90d38e7f34e04a0471aec84130b9c" />-->
    </setup>    
  </uploadFileSettings>
<appSettings>
  <add key="appInsightsInstrumentationKey" value="6c5001a5-0809-444c-a13f-a22be8b28cbf" />
</appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="n_ws_pas_interfaceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.128:8011/pas_ws/n_ws_pas_interface"
          binding="basicHttpBinding" bindingConfiguration="n_ws_pas_interfaceSoapBinding"
          contract="PASService.n_ws_pas_interface" name="n_ws_pas_interface" />
    </client>
  </system.serviceModel>
</configuration>